<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="add-room-form">
    <h1>Add New Room</h1>
    <form action="/manager/add-room" method="post">
        Number: <input type="text" name="name" required="" placeholder="New room number">
        Type: <select name="type" required="">
        <option value="">-- Select Room Type --</option>
        <option th:each="rt : ${rtList}"
                th:value="${rt.typeName}"
                th:text="${rt.typeName}"></option>
    </select>
        Floor: <select name="floor" required="">
        <option value="">-- Select Floor --</option>
        <option th:each="f : ${fList}"
                th:value="${f.floor_number}"
                th:text="${f.floor_number}"></option>
    </select>
        <span th:text="${mess}" style="color: red;font-size: larger;font-weight: bold;"></span>
        <input type="submit" value="Add">
        <button type="button" onclick="loadContent('/manager/rooms-fragment')">Back</button>
    </form>
</div>
</body>
</html>