<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="edit-room-form">
    <h1>Edit Room</h1>
    <form action="/manager/edit-room" method="post">
        <input type="hidden" name="id" th:value="${room.roomId}">
        Number: <input type="text" name="name" th:value="${room.roomName}" readonly="">
        Type: <select name="type" required="">
        <option th:value="${rto}" th:text="${rto}"></option>
        <option th:each="rt : ${rtList}"
                th:value="${rt.typeName}"
                th:text="${rt.typeName}"></option>
    </select>
        Floor: <select name="floor" disabled>
        <option th:value="${fno}" th:text="${fno}"></option>
    </select>
        <span th:text="${mess}" style="color: red;font-size: larger;font-weight: bold;"></span>
        <input type="submit" value="Save">
        <button type="button" onclick="loadContent('/manager/rooms-fragment')">Back</button>
    </form>
</div>
</body>
</html>