<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="room-list-fragment" th:fragment="room-list">
    <h1>Room Occupancy Report</h1>
    <form th:action="@{/rooms/manager/search-room}" method="post">
        Number: <input type="text" name="name" placeholder="Search by number">
        Type: <select name="type">
        <option value="">-- Select Room Type --</option>
        <option th:each="rt : ${rtList}"
                th:value="${rt.typeName}"
                th:text="${rt.typeName}"></option>
    </select>
        <input type="submit" value="Search">
        <button type="button" th:onclick="|loadContent('@{/rooms/manager/rooms-fragment}')|">Reset</button>
    </form>
    <span th:text="${mess}" style="color: red;font-size: larger;font-weight: bold;"></span>

    <table border="1px" style="width: 100%">
        <thead style="background-color: lightblue">
        <th>#</th>
        <th>Number</th>
        <th>Type</th>
        <th>Status</th>
        <th>Floor</th>
        <th colspan="2">Action</th>
        </thead>
        <tbody>
        <tr th:each="room : ${rList}">
            <td th:text="${room.roomId}"></td>
            <td th:text="${room.roomName}"></td>
            <td th:text="${room.roomType.typeName}"></td>
            <td th:text="${room.roomStatus.roomStatus}"></td>
            <td th:text="${room.floor.floorNumber}"></td>
            <td><a href="#" th:onclick="|loadContent('@{/rooms/manager/edit-room-fragment(id=${room.roomId})}')|">Edit</a></td>
            <td><a href="#" th:onclick="|loadContent('@{/rooms/manager/confirm-delete(id=${room.roomId})}')|">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>