
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-4">
        <h1 th:if="${user.userId == 0}">Add User</h1>
        <h1 th:if="${user.userId != 0}">Edit User</h1>
        <form th:object="${user}" th:action="${user.userId == 0} ? @{/users} : @{/users/edit}" method="post">
            <input type="hidden" th:field="*{userId}" />
            <div class="form-group">
                <label for="userName">Username:</label>
                <input type="text" id="userName" class="form-control" th:field="*{userName}" />
                <div class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" class="form-control" th:field="*{password}"  />
                <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div class="form-group">
                <label for="role">Role:</label>
                <select id="role" class="form-control" th:field="*{role}">
                    <option value="">Select Role</option>
                    <option value="Admin">Admin</option>
                    <option value="Receptionist">Receptionist</option>
                    <option value="HouseKeeping Staff">Housekeeping Staff</option>
                    <option value="Hotel Manager">Hotel Manager</option>
                </select>
                <div class="text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>
</html>