<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HotelManager</title>
</head>
<body>
<h1>Room Occupancy Report</h1>
<form action="search" method="post">
    Number: <input type="text" placeholder="Search by number">
    Type: <select name="type">
            <option value="">-- Select Room Type --</option>
            <option th:each="rt : ${rtList}"
                    th:value="${rt.typeName}"
                    th:text="${rt.typeName}"></option>
          </select>
    <input type="submit" value="Search">
</form>
<button th:attr="onclick=|window.location.href='@{/showAddRoom}'|">Add new room</button>
<button th:attr="onclick=|window.location.href='@{/showAddRoomType}'|">Add new room type</button>



<table border="1px" style="width: 100%">
    <thead style="background-color: lightblue">
    <th>#</th>
    <th>Number</th>
    <th>Type</th>
    <th>Status</th>
    <th>Floor</th>
    <th>Action</th>
    </thead>
    <tbody>

    <tr th:each="room : ${rList}">
        <td th:text="${room.roomId}"></td>
        <td th:text="${room.roomName}"></td>
        <td th:text="${room.roomType}"></td>
        <td th:text="${room.roomStatus}"></td>
        <td th:text="${room.floor}"></td>
        <td><a th:href="@{/view(id=${dish.id})}">View</a></td>
        <td><a th:href="@{/delete(id=${dish.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>